# Frameworks :
# ------------
# - [Android] temp directories
bin/
gen/
#libs/
*.zip

# IDE :
# -----
# - [Eclipse]
.settings/
.metadata/

# Generic files to ignore :
# -------------------------
# - Apple temp
.DS_Store


